.fc {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.fc-button {
  background-color: transparent;
  border: none;
  color: #000;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.fc-button:hover {
  background-color: #e5e5e5;
}

.fc-daygrid-day {
  background: rgba(255, 255, 255, 0);    
  backdrop-filter: blur(5px);            
  padding: 10px;
  border-radius: 16px;                       
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);  
  /* border: 1px solid rgba(255, 255, 255, 0.342);  */
}

.fc-daygrid-day:hover {
  background: rgba(255, 255, 255, 0);      /* カード背景の色＋不透明度 */
}

.fc table {
  border-collapse: inherit;
  border-spacing: 0px;
  font-size: 1em;
}