.header {

  position: -webkit-sticky; /* Safari 対応 */
  position: sticky;
  top: 0;
  left: 0;
  width: auto;
  background-color: #ffffff;
  color: rgb(2, 2, 2);
  padding: 10px 20px;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;

  }
  
.month{
    position: absolute;
    top: 0px;
    align-items: center;
    bottom: 0;
    margin: auto;
    background-color: white;
    border: none;
}

#previous{
  left: 10%;
}

#next{
  right:10%;
}
  