
.image {
  flex: 1;
  margin-right: 16px;
}

.image img {
  max-width: 200px;
  height: auto;
}


.card{
  width: 288px;
  height: auto;
}
.card__imgframe{
  width: 100%;
  height: auto;
  background-size: cover;
  box-sizing: border-box;
}
.card__textbox{
  width: 100%;
  height: auto;
  padding: 20px 18px;
  background: #ffffff;
  box-sizing: border-box;
  position: relative;
}
.card__textbox > * + *{
  margin-top: 10px;
}
.card__titletext{
  font-size: 20px;
  font-weight: bold;
  line-height: 125%;
}
.card__overviewtext{
  font-size: 12px;
  line-height: 150%;
}
.card-skin-card{
  box-shadow: 2px 2px 6px rgba(0,0,0,.4);
  margin:auto;
  margin-bottom: 2%;

}
.icon{
  width: 10%;
  position:absolute;
  right: 1%;
  top: 2%;
  height: 20%;
}

.icon :hover{
  color:rgb(0, 161, 73)
}
@media (max-width: 768px) {
  .card-skin-card {
    /* スマートフォンの場合のマージン設定 */
    margin-bottom: 10%; /* 3%に設定 */
  }
}